/*ESTILO GERAL*/
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Agdasima", sans-serif;
  scroll-behavior: smooth;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important; /* substitui o fundo branco */
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: #ffffff !important; /* cor do texto */
  transition: background-color 5000s ease-in-out 0s; /* impede mudança rápida de cor */
}
:root {
  --primary-color: rgb(14, 199, 199);
}
body {
  background-color: #000;
}
button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

/*ESTILO DO CABEÇALHO*/
header {
  padding: 2.5rem 4%;
}

.logo img {
  border-radius: 50%;
  width: 4.4rem;
}

header > .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fcfcfc;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

header nav ul {
  display: flex;
  list-style-type: none;
  background-color: rgba(48, 49, 49, 0.582);
  border: none;
  border-radius: 1.2rem;
  height: 2.6rem;
}
header nav ul li {
  text-shadow: 0 0 10px var(--primary-color);
  display: inline-block;
  padding: 0.8rem 3rem;
}
header .btn-contato button {
  padding: 0.6rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
}
header .btn-contato button:hover {
  box-shadow: 0 0 10px var(--primary-color);
}
main {
  color: #ffffff;
  font-size: 1.8rem;
}

/* ESTILO TOPO SITE*/

section.topo-site {
  padding: 20px 4%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 69, 82, 1) 52%,
    rgba(4, 126, 179, 1) 100%
  );
}
section.topo-site .flex {
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 80vh;
}
.topo-site .txt-topo-site h1 {
  line-height: 10px;
  margin: 10px 0;
}
.topo-site h1 span {
  color: var(--primary-color);
}
.topo-site .txt-topo-site p span {
  color: var(--primary-color);
}
.topo-site .txt-topo-site p {
  width: 500px;
  margin: 20px 0;
}

.topo-site .txt-topo-site .btn-curriculo button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
main .btn-curriculo button:hover {
  box-shadow: 0 0 10px var(--primary-color);
  transform: scale(1.05);
  transition: 0.2s;
}
.topo-site .txt-topo-site .social-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
}
.topo-site .txt-topo-site .social-btns .social-btn {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 8px;
}

.topo-site .txt-topo-site .social-btns .social-btn:hover {
  color: var(--primary-color);
}
.img-topo-site {
  min-width: 350px;
  min-height: 450px;
  position: relative;
  background-image: url(../IMG/perfil.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(50% 0%, 100% 25%, 100% 70%, 50% 100%, 0% 70%, 0% 25%);
  box-shadow: 0 0 10px var(--primary-color);
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
/* ESTILO TECNOLOGIAS */
section.tecnologias {
  padding: 40px 4%;
  margin-top: -1px;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 69, 82, 1) 52%,
    rgba(4, 126, 179, 1) 100%
  );
  min-height: 50rem;
}
section.tecnologias > h1 {
  font-size: 1.5em;
  text-decoration: underline;
  text-align: center;
  margin-top: 40px;
}
.grid-tecnologias {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr;
  gap: 100px;
  justify-items: center;
  margin-top: 150px;
}
.grid-tecnologias-1,
.grid-tecnologias-2 {
  display: flex;
  gap: 100px;
}

.icone {
  width: 5rem;
}

/* ESTILO PROJETOS */
section.projetos {
  padding: 40px 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#container-projetos {
  display: grid;
  max-width: 60%;
  padding: 50px;
  border-radius: 8px;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: 2;
  background-color: #272525;
}
.projeto-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #011414;
}

/* Estilo habilidades */
section.habilidades {
  padding: 40px 4%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 69, 82, 1) 52%,
    rgba(4, 126, 179, 1) 100%
  );
}
section.habilidades .flex {
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
section.habilidades > h1 {
  font-size: 1em;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 100px;
  margin-top: 100px;
}
section.habilidades .interface {
  background-color: #272525;
  border-radius: 20px;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  padding: 7px;
}
section.habilidades .interface i {
  color: var(--primary-color);
  font-size: 1em;
  margin-left: 80px;
}
section.habilidades .interface h3 {
  color: var(--primary-color);
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 5px;
}
section.habilidades .interface p {
  font-size: 0.6em;
  text-align: center;
}
section.habilidades .interface:hover {
  box-shadow: 0 0 10px var(--primary-color);
  transform: scale(1.05);
  transition: 0.2s;
}

/* CONTATO */
section.contato {
  margin-top: -1px;
  padding: 40px 4%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 69, 82, 1) 52%,
    rgba(4, 126, 179, 1) 100%
  );
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}
section.contato .interface > h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 100px;
}
form input,
form textarea {
  width: 100%;
  padding: 10px 15px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: rgba(49, 44, 44, 0.781);
  color: #ffffff;
  font-size: 18px;
}
form input::placeholder {
  color: var(--primary-color);
}
form textarea::placeholder {
  color: var(--primary-color);
}
form textarea {
  resize: none;
  height: 125px;
}
form .btn-enviar {
  margin-top: 20px;
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 10px;
  max-width: 150px;
}
form .btn-enviar input {
  max-width: 150px;
  padding: 10px 0;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
form .btn-enviar input:hover {
  box-shadow: 0 0 10px var(--primary-color);
  transform: scale(1.05);
  transition: 0.2s;
}
/* RODAPÉ */
footer {
  padding: 40px 4%;
  box-shadow: 0 10 40px 10px rgba(14, 199, 199, 0.281);
}
footer .flex {
  justify-content: space-between;
}
footer .borda {
  padding: 20px 0;
  border-top: 2px solid var(--primary-color);
  color: #fff;
}
footer .social-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
}
footer .social-btn {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 8px;
}
footer .social-btn:hover {
  color: var(--primary-color);
}
footer .line-footer p i {
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}
footer .line-footer p a {
  color: #fff;
}
footer .copyright {
  color: #fff;
  text-align: center;
  font-size: 0.7em;
}
/* Responsividade */
@media screen and (max-width: 767px) {
  /* gerais */
  .flex {
    flex-direction: column;
    width: 100%;
  }

  /* cabeçalho */
  .menu-desktop {
    display: none;
  }

  /* topo site */
  .img-topo-site {
    min-width: 320px;
    clip-path: polygon(50% 0%, 90% 25%, 90% 65%, 50% 90%, 10% 65%, 10% 25%);
  }

  .topo-site .txt-topo-site .social-btns {
    gap: 15px;
    justify-content: center;
  }
  section.topo-site .flex {
    flex-direction: column-reverse;
    margin-top: 2rem;
    gap: 2rem;
    height: 30vh;
  }
  section.topo-site {
    padding: 40px 8%;
    margin-top: 250px;
  }
  .topo-site .txt-topo-site {
    text-align: center;
    max-width: 100%;
  }
  .topo-site .txt-topo-site p {
    width: 90%;
  }

  /* tecnologias */
  section.tecnologias {
    margin-top: -1px;
  }
  section.tecnologias > h1 {
    margin-top: 20rem;
  }
  .tecnologias .tecnologias-box {
    margin-bottom: 5px;
  }
  .grid-tecnologias,
  .grid-tecnologias-1,
  .grid-tecnologias-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }

  /* projetos */
  #container-projetos {
    flex-direction: column;
    padding: 20px;
    max-width: 90%;
  }
  /* footer */
  footer .flex {
    flex-direction: column;
  }
  footer .line-footer {
    text-align: center;
  }
  footer .line-footer .social-btns {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* gerais */
  /* topo site */

  section.topo-site .flex {
    flex-direction: column-reverse;
    margin-top: 1rem;
    gap: 2rem;
    height: 30vh;
  }
  section.topo-site {
    padding: 40px;
    margin-top: 200px;
  }
  .topo-site .txt-topo-site {
    text-align: center;
  }
  .topo-site .txt-topo-site .social-btns {
    gap: 15px;
    justify-content: center;
  }
  /* tecnologias */
  section.tecnologias {
    margin-top: -1px;
  }
  section.tecnologias > h1 {
    margin-top: 20rem;
  }
  .grid-tecnologias {
    gap: 100px;
  }
  .grid-tecnologias-1,
  .grid-tecnologias-2 {
    display: flex;
    gap: 5rem;
  }

  /* projetos */
  #container-projetos {
    flex-direction: column;
  }
  /* footer */
  footer .line-footer {
    text-align: center;
  }
  footer .line-footer .social-btns {
    justify-content: center;
  }
}

/* Cards Git */
#container-projetos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  background: #272525;
  width: 200px;
  margin-top: 30px;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.02);
}
.card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #0366d6;
}
